.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(23, 23, 23);
}

/* Header left ( Logo ) Styles */
.header_left {
  flex: 0.1;
}
.logo {
  height: 70px;
  object-fit: contain;
}

/* Header Center ( Search ) Styles */
.header_center {
  flex: 0.32;
  display: flex;
  align-items: center;
  background-color: white;
}
.search_input {
  flex: 0.9;
  border: none;
  padding: 15px;
  font-size: 13px;
  outline: none;
}
.search_icon {
  flex: 0.1;
  font-size: 45px !important;
  padding: 8px;
  background-color: #0b87b1;
  color: white;
}
.search_icon:hover {
  cursor: pointer;
}

/* Header Right ( Links,Buttons and Profile Picture ) Styles */
.header_right {
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

/* Left of the Header Right ( Links ) Styles */
.header_right_left {
  flex: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_right_left span {
  padding: 0.8vw;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
}
.header_right_left span:hover {
  background-color: white;
  color: black;
  border-radius: 2px;
}

/* Right of the Header Right ( Buttons and Profile Images ) Styles */
.header_right_right {
  flex: 0.15;
  display: flex;
  align-items: center;
  justify-content: center;
}
.guest_user_view {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.guest_user_view span {
  font-size: 16px;
  font-weight: 600;
  color: #119cca;
}
.login {
  margin-right: 10px;
}
.user_details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerd_user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
#user_image {
  font-size: 40px !important;
  margin-bottom: 5px;
}
.user_displayname {
  margin-bottom: 5px;
}
.log_out {
  font-size: 16px;
  font-weight: 600;
  color: #119cca;
}
.log_out:hover {
  cursor: pointer;
}
